.card {
  display: grid;
  place-items: center;
  margin: 3rem auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 4rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.phone-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-bottom: 0;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 5px #4d90fe;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

button[type="submit"] {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0065b8;
}
